[submodule "makiahsandroidlib"]
	path = makiahsandroidlib
	url = https://github.com/Makiah/makiahsandroidlib
[submodule "AndroidCV-SDK"]
	path = AndroidCV-SDK
	url = https://github.com/Makiah/AndroidCV-SDK
[submodule "app/src/main/AndroidCV-JNILibs"]
	path = app/src/main/AndroidCV-JNILibs
	url = https://github.com/Makiah/AndroidCV-JNILibs
